APP_BASE_URL=http://ctd.suspect.kpk/
DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=aiesplus
SSO_SECRET=change_this_to_a_strong_random_secret
# Must match dramslive application/config/auth.php hash_key value
DRAMS_HASH_KEY=your_shared_hash_key_here
